<project name="DL review" version="docear 1.0" ID="14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC/_data/14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC/_data/14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC/_data/14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC/_data/14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true"/>
<link type="references" name="References" path="project://14BD12F79EB3NX5V733MC5WWV5JQ0QVQN2QC/library.bib" system="true"/>
</project>
